 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/bitters/app/assets/stylesheets/base';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles

$mobile: new-breakpoint(min-width 1250px);

$sliding-menu-border-color: $dark-gray;
$sliding-menu-background: lighten($sliding-menu-border-color, 5);
$sliding-menu-color: #fff;
$sliding-menu-border: 1px solid $sliding-menu-border-color;
$sliding-menu-background-hover: $base-accent-color;
$sliding-menu-color-hover: #fff;

$black: #090A0B;
// $blue: #489AC9;
$blue: #296BC8;
$green: #50BEB5;
$grey: #999999;

$dark-blue: #3F4D58;

@mixin border {
  border: solid 1px black;
}

a {
  color: $blue;
}

.dates {
  color: $grey;
}

.abstracts-date {
  color: $grey;
}


body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

#mobile-menu-container {
  // background: rgba(0, 0, 0, 0.7);
  height: 95px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 70;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 20px;
  .sliding-menu-button {
    display: inline-block;
    cursor: pointer;
    font-size: $base-font-size;
    margin-bottom: $base-line-height;
    position: relative;
    outline: none;
    margin-top: 15px;
    margin-left: 15px;
    background: none;
    border: 1px solid white;

    img {
      height: 1.3em;
    }
  }

  .sliding-menu-content {
    @include position(fixed, 0px auto 0px 0px);
    @include size(220px 100%);
    @include transform(translateX(-220px));
    @include transition(all .25s linear);
    background: $sliding-menu-background;
    z-index: 999999;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    li a {
      border-bottom: $sliding-menu-border;
      color: $sliding-menu-color;
      display: block;
      font-weight: bold;
      padding: 1em;

      &:hover {
        background-color: $sliding-menu-background-hover;
        color: $sliding-menu-color-hover;
      }
    }

    &.is-visible {
      @include transform(translateX(0));
    }
  }

  .menu-screen {
    @include position(fixed, 0px 0px 0px 0px);
    @include transition;
    background: $sliding-menu-border-color;
    opacity: 0;
    visibility: hidden;
    z-index: 999998;

    &.is-visible {
      opacity: .4;
      visibility: visible;
    }
  }

// Based on code by Diego Eis
  @include media($mobile) {
    display: none;
  }
}

#menu-container {
  display: none;
  // background: rgba(255, 255, 255, 0.1);
  height: 95px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 70;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  #menu-inner-container {
    #menu {
      margin-top: 35px;
      text-align: center;
      li {
        list-style-type: none;
        display: inline-block;
        // float: right;
        padding: 12px;
        margin: 0 auto;
        a {
          text-decoration: none;
          text-transform: capitalize;
          color: white;
        }
        a:hover {
          color: grey;
        }
      }
    }
    // .hero_name {
    //   color: white;
    // }
    @include media($mobile) {
      // border: solid 1px white;
      margin: 0 auto;
      height: 100%;
      width: 80%;
    }
  }
  @include media($mobile) {
    display: block;
  }
}

.inner-container {
  h2 {
    font-family: Montserrat;
    color: $black;
    font-size: 28px;
    @include media($mobile) {
      font-size: 38px; 
    }
  }
  .page-header {
    width: 350px;
    border-bottom: 3px solid $black;
    margin: 20px auto;
  }
  .busy-page-header {
    font-family: Montserrat;
    color: $black;
    font-size: 34px;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 8px;
  }
  // .section-main {
  //   color: $black;
  //   font-family: Merriweather;
  // }
  .nav-down {
      width: 55px;
      height: 55px;
      border-radius: 30px;
      // border: 1px solid white;
      position: fixed;
      top: 90%;
      left: 48%;
      .fa-angle-double-down {
        font-size: 38px;
        color: white;
        margin-top: 10px;
      }
    }
  @include media($mobile) {
    // @include border;
    margin: 0 auto;
    height: 100%;
    width: 80%;
  }
}

#fp-nav {
  display: none;
  @include media($mobile) {
    display: block;
    margin-right: 50px;
  }
}

.section {
  text-align: center;
}

.top-container {
  @include border; 
  width: 100%;
}

#hero-container {
  background: url(../images/three.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .inner-container {
    color: white;
    .name-container {
      font-family: Merriweather, serif;
      // border: 1px solid white;
      width: 400px;
      height: 150px;
      margin: 0 auto;
      margin-top: -40%;
      h1 {
        font-family: Merriweather, serif;
        font-size: 40px;
        margin-bottom: 20px;
      }
      .hero-tag {
        font-size: 22px;
      }
      @include media($mobile) {
        margin-top: 35%
        // margin-right: 5%;
        // float: right;
      }
    }
  }
}

.inner-container {
  @include border;
}

#about-container {
  .inner-container {
    .top-container {
      // margin-top: 20%;
      .about-info {
        @include border;
        margin: 20px auto;
        width: 450px;
        .headshot {
          width: 175px;
          border-radius: 95px;
          // float: left;
        }
      }
    }
    .bottom-container {
      @include border;
      margin: 0 auto;
      width: 450px;
      .get-in-touch {
        width: 100%;
        .get-in-touch-icon-container {
          @include border;
          @include span-columns(4 of 12);
          margin-bottom: 20px;
          a {
            color: $dark-blue;
            .fa {
              font-size: 40px;
            }
          }
        }
      }
    }
  }
}

#education-container {
  .inner-container {
    .education-box {
        text-align: left;
        @include border;
        margin: 0 auto;
        width: 450px;
      }
      .skills-box {
        text-align: left;
        @include border;
        margin: 0 auto;
        width: 450px;
      }
      .spec-box {
        text-align: left;
        @include border;
        margin: 0 auto;
        width: 450px;
      }
  }
}

#publications-container {
  .inner-container {
    .publication-box {
        text-align: left;
        @include border;
        margin: 0 auto;
        width: 450px;
      }
  }
}

#abstracts-container {
  .inner-container {
    .abstracts-box {
        text-align: left;
        @include border;
        margin: 0 auto;
        width: 450px;
        .abstracts-space {
          // .abstracts-date {
          //   @include border;
          //   @include span-columns(2 of 12);
          // }
          // .abstracts-content {
          //   @include border;
          //   @include span-columns(10 of 12);
          // }
        }
      }
  }
}

#awards-container {
  .inner-container {
    .awards-box {
        text-align: left;
        @include border;
        margin: 0 auto;
        width: 450px;
        .award-wrap {
          .award-date {
            // display: inline;
            @include border;
            @include span-columns(2 of 12);
            text-align: right;
          }
          .award-main-info {
            // display: inline;
            @include border;
            @include span-columns(10 of 12);
          }
        }
      }
  }
}

#research-container {
  .inner-container {
    .research-box {
        text-align: left;
        @include border;
        margin: 0 auto;
        width: 450px;
        .research-head {
          .research-style {
            font-style: italic;
          }
        }
      }
  }
}

#teaching-container {
  .inner-container {
    .teaching-box {
      text-align: left;
      @include border;
      margin: 0 auto;
      width: 450px;
      .teaching-head {
        .teaching-style {
          font-style: italic;
        }
      }
    }
  }
}

#talks-container {
  .inner-container {
    .talks-box {
        text-align: left;
        @include border;
        margin: 0 auto;
        width: 450px;
        .talk-space {
          .talk-date {
            @include border;
            @include span-columns(2 of 12);
            color: $grey;
            text-align: right;
          }
          .talk-content {
            @include border;
            @include span-columns(10 of 12);
          }
        }
      }
  }
}











