 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}
#menu-container {
  #menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 40px;
    z-index: 70;
    width: 100%;
    padding: 0;
    margin: 0;
    li {
      list-style-type: none;
      display: inline;
      float: right;
      padding: 10px;
      a {
        text-decoration: none;
      }
      a:hover {
        color: blue;
      }
    }
  }
}
